/*color scheme
white => #FFEAD6
blue => #34CCD6
red => #FF8F7A
lightgreen => #82CC88
darkgreen => #5B855E*/

.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.navbar-inner {
  text-align:center;
}

.navbar {
  margin-bottom:0;
}


footer {
  padding-left: 15px;
  padding-right: 15px;
}

.bplusb-box {

}



.event-info-box {
  margin-top: 100px;
}

.event-information img, .event-information button {
  display:block;
  margin:auto;
}

.gifts-box {
  background-color: #916445;
}

.our-story-box {
  background-color: #00B5AA;
}

/*PICTURE GALLERY*/
#pictureGallery { 
  width: 100%; 
  margin: auto;}

.pictures-box { margin: 15px;}

.brick img {
  margin: 0;
  display: block;
}

img.desaturate{
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray;
filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.desaturate:hover {
filter: none;
-webkit-filter: grayscale(0);
}

/*HELPER CLASSES*/
.padding-0 {
    padding: 0;
}

.jumbotron {
  margin: 0;
  height: 500px;
}

/*IMG*/
.span12 img { width: 100%; height: 100%; }

.events-timeline img, .event-directions img { width: 60%; height: 60%;}
