.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.navbar-inner {
  text-align:center;
}

.navbar {
  margin-bottom:0;
}


footer {
  padding-left: 15px;
  padding-right: 15px;
}

.bplusb-box {

}



.event-info-box {
  margin-top: 100px;
}

.event-information img, .event-information button {
  display:block;
  margin:auto;
}

.gifts-box {
  background-color: #916445;
}

.our-story-box {
  background-color: #00B5AA;
}

/*PICTURE GALLERY*/
#pictureGallery { 
  width: 100%; 
  margin: auto;}

.pictures-box { margin: 15px;}

.brick img {
  margin: 0;
  display: block;
}

/*HELPER CLASSES*/
.padding-0 {
    padding: 0;
}

.jumbotron {
  margin: 0;
  height: 500px;
}

/*IMG*/
.span12 img { width: 100%; height: 100%; }

.events-timeline img, .event-directions img { width: 60%; height: 60%;}
